@use "@app/styles/_variables.scss" as *;

* {
  @each $name, $color in $colors {
    --#{$name}-color: #{$color};
  }

  box-sizing: border-box;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  margin: 0;
  position: relative;
}

#app, .n-config-provider {
  width: 100%;
  height: 100%;
}

.n-config-provider {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}